---
import type { Ejercicio } from '@interfaces/Ejercicio';

import Contador from './contador';
import Pista from './Pista';

interface Props {
    ejercicio?: Ejercicio;
}

const { ejercicio } = Astro.props;
---

<header class="[grid-area:enunciado] w-full h-auto bg-slate-700 bg-ejercicio-background bg-center bg-custom bg-no-repeat text-white rounded-xl p-10">
    <span class="h-auto text-3xl">
        {ejercicio?.enunciado}
    </span>

    <div class="flex flex-auto justify-between relative p-5">
        <Contador client:load/>
        <Pista client:load ejercicio={ejercicio}>
    </div>
</header>
