---
import type { Insignia } from '@interfaces/Insignia'

import PremioRanking from '@icons/insignias/premioRanking.astro'
import SinInsignia from '@icons/insignias/SinInsignia.astro'

interface Props {
    insignia?: Insignia
}

const { insignia } = Astro.props;
---

<div class="flex flex-col lg:flex-row justify-between items-center gap-5 p-5 rounded-xl bg-zinc-800">
    {
        insignia?.conseguida ? (
            <PremioRanking />
        ) : (
            <SinInsignia />
        )
    }

    {insignia?.n_ejercicios && (
        <p> Consigue un total de {insignia.n_ejercicios} ejercicios para este tema. </p>
    )}

    {insignia?.xp && (
        <p> Consigue un total de {insignia.xp} xp en este tema. </p>
    )}
</div>