---
import AsideMenuItem from './AsideMenuItem.astro'

import Temas from '@icons/aside/Temas.astro'
import Ejercicios from '@icons/aside/Ejercicios.astro'
import Insignia from '@icons/aside/Insignia.astro'
import Vidas from '@icons/aside/Vidas.astro'
import Experience from '@icons/aside/Experience.astro'

let pathname : String = Astro.url.pathname;
pathname = pathname.split("/")[1];

let temas = pathname == "temas" ? "true" : "false";
let ejercicios = pathname == "ejercicios" ? "true" : "false";
let insignias = pathname == "insignias" ? "true" : "false";
---

<div class="bg-slate-900 rounded-lg p-2 flex-1" >
    <ul>
        <AsideMenuItem href="./" text="TEMAS" selected={temas}>   <!-- TODO: cambiar href -->
            <Temas/>
        </AsideMenuItem>

        <AsideMenuItem href="/ejercicios" text="EJERCICIOS" selected={ejercicios}>   <!-- TODO: cambiar href -->
            <Ejercicios/>
        </AsideMenuItem>

        <AsideMenuItem href="/insignias/" text="INSIGNIAS" selected={insignias}>
            <Insignia/>
        </AsideMenuItem>

        <AsideMenuItem text="5/5" selected="false" notSelectable='true'>
            <Vidas/>
        </AsideMenuItem>

        <AsideMenuItem text="0/5000" selected="false" notSelectable='true'>    <!-- TODO: Cambiar experiencia -->
            <Experience/>
        </AsideMenuItem>
    </ul>
</div>