---
import SideMenuItem from './AsideMenuItem.astro'
import Home from '@icons/aside/Home.astro'
import Perfil from '@icons/aside/Perfil.astro'

let pathname : String = Astro.url.pathname;
pathname = pathname.split("/")[1];

let perfil = pathname.includes("perfil") ? "true" : "false";
let home = pathname == "home" ? "true" : "false";
---
 
<div class="bg-slate-900 rounded-lg p-2" >
    <ul>
        <SideMenuItem href="/home/" text="INICIO" selected={home}>
            <Home/>
        </SideMenuItem> 

        <SideMenuItem href="/perfil_page/" text="PERFIL" selected={perfil}>
            <Perfil/>
        </SideMenuItem>
    </ul>
</div>