---
import AsideMenuItem from './AsideMenuItem.astro'

import type { Usuario } from '@interfaces/Usuario'

import { getSesion } from '@services/login'
import { xpTotalUsuario } from '@services/ejercicios'

import Temas from '@icons/aside/Temas.astro'
import Ejercicios from '@icons/aside/Ejercicios.astro'
import Insignia from '@icons/aside/Insignia.astro'
import Vidas from '@icons/aside/Vidas.astro'
import Experience from '@icons/aside/Experience.astro'

let pathname : String = Astro.url.pathname;
pathname = pathname.split("/")[1];

let temas = pathname == "temas" ? "true" : "false";
let ejercicios = pathname == "ejercicios" ? "true" : "false";
let insignias = pathname == "insignias" ? "true" : "false";

const usuario = await getSesion(Astro.request) as Usuario;
const xp = await xpTotalUsuario(usuario?.id) ?? 0;
---

<div class="bg-slate-900 rounded-lg p-2 flex-1" >
    <ul>
        <!--
        <AsideMenuItem href="/home" text="TEMAS" selected={temas}>   
            <Temas/>
        </AsideMenuItem>
        -->

        <AsideMenuItem href="/ejercicios/ejercicios" text="EJERCICIOS" selected={ejercicios}>   <!-- TODO: cambiar href -->
            <Ejercicios/>
        </AsideMenuItem>

        <!--
        <AsideMenuItem href="/insignias/" text="INSIGNIAS" selected={insignias}>
            <Insignia/>
        </AsideMenuItem> 
        -->

        <AsideMenuItem text={usuario?.vidas ?? 0} selected="false" notSelectable='true'>
            <Vidas/>
        </AsideMenuItem>

        <AsideMenuItem text={xp} selected="false" notSelectable='true'>
            <Experience/>
        </AsideMenuItem>
        
    </ul>
</div>