---
import type { Usuario } from '../../interfaces/Usuario';

interface Props {
    usuario: Usuario;
    image: string;
    email: string;
}

const { usuario, image, email } = Astro.props;

const { nombre } = usuario;
---

<div class="flex flex-row items-center justify-center w-full">
    <img src={image} alt={nombre} class="w-24 h-24 rounded-full" />
    <div class="ml-4">
        <h2 class="text-4xl text-wrap font-semibold">¡HOLA, {nombre}!</h2>
        <p class="text-sm text-gray-500 text-center">{email}</p>
    </div>
</div>
