---
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
---

<div class="flex flex-col items-center justify-center min-h-screen">
    {
        session ? (
            <div>
                <h1 class="text-2xl font-bold">Bienvenido, {session.user?.name}</h1>
                <img src={session.user?.image} alt={session.user?.name} class="w-20 h-20 rounded-full mt-4" />
            </div>
        ) : (
            <h1 class="text-2xl font-bold">Inicia sesión para continuar</h1>
        )
    }
    <button id="login"> Iniciar sesión con Google </button>
    <button id="logout"> Cerrar sesión </button>
    <a href="/" class="mt-4 text-blue-500">Go back to home</a>
</div>

<script>
    const { signIn, signOut } = await import("auth-astro/client")

    const login = document.getElementById("login");
    const logout = document.getElementById("logout");

    login?.addEventListener("click", async () => {
        await signIn("google")
    });

    logout?.addEventListener("click", async () => {
        await signOut()
    });
</script>