---
import Header from "./Header.astro";
import type { Usuario } from '../../interfaces/Usuario';

interface Props {
    usuario: Usuario;
    image: string;
    email: string;
}

const { usuario, image, email } = Astro.props;
---

<Header email={email} usuario={usuario} image={image} />

<button id="logout"> Cerrar sesión </button>

<script>
    const { signOut } = await import("auth-astro/client")

    const logout = document.getElementById("logout");

    logout?.addEventListener("click", async () => {
        await signOut()
    });
</script>