---
interface Props {
    data: String;
    subtitle: String;
}

const { data, subtitle } = Astro.props;
---

<div class="flex flex-col md:w-full items-center justify-center p-5 gap-0 rounded-xl bg-green-700 w-full">
    <slot> </slot>
    <h2 class="text-bold"> { data.toUpperCase() } </h2>
    <small class="text-gray-700 font-bold"> { subtitle } </small>
</div>