---

---

<div class="flex flex-col sm:flex-row gap-2 items-center rounded-xl bg-green-800 p-5">
    <label class="font-bold" for="enunciado">Enunciado:</label>
    <textarea
      class="rounded-xl p-1 text-center resize-none min-h-[1px] w-full text-black"
      id="enunciado"
      name="enunciado"
      placeholder="Agrega el enunciado"
      required
    ></textarea>
</div>