---

---

<div class="flex flex-col sm:flex-row gap-2 rounded-xl bg-green-800 p-3 items-center justify-center w-full xl:w-1/3 mx-auto">
<label class="font-bold p-1" for="tipo">Coste Pista:</label>
<select class="rounded-xl p-1 w-full sm:w-auto text-black" id="tipo" name="tipo_coste_pista">
    <option value="Experiencia">Experiencia</option>
    <option value="Vidas">Vidas</option>
</select>

<input
    class="rounded-xl p-1 text-center w-full sm:w-1/3 text-black"
    type="number"
    id="coste"
    name="coste_pista"
    placeholder="Coste"
    required
/>
</div>