---

---

<div class="flex flex-col lg:flex-row items-baseline text-black justify-between gap-5 text-xl rounded-xl transition-all w-full">
    <select class="rounded-sm p-2 w-full text-center bg-gray-400 hover:bg-zinc-800 hover:text-white focus:bg-zinc-900 focus:text-white duration-500 ease-in-out" id="tipo" name="tipo_coste_pista">
        <option value="Experiencia">Experiencia</option>
        <option value="Vidas">Vidas</option>
    </select>

    <input
        class="inputs rounded-xl p-1 text-center w-full bg-gray-400 hover:bg-zinc-800 hover:text-white focus:bg-zinc-900 focus:text-white duration-500 ease-in-out"
        type="number"
        id="coste"
        name="coste_pista"
        placeholder="Coste"
        required
    />
</div>