---
interface Props {
  n_respuesta: number;
}

const { n_respuesta } = Astro.props;
---

<div class="flex flex-col sm:flex-row p-4 gap-4 rounded-xl bg-green-700 items-center justify-center w-full lg:w-3/5 mx-auto shadow-lg">
  <input
    class="rounded-xl p-2 text-center w-full sm:w-1/2 mx-auto border-2 border-transparent focus:border-green-300"
    type="text"
    id={"respuesta" + n_respuesta}
    name={"respuesta" + n_respuesta}
    placeholder="Agrega el texto de la respuesta"
  />
  <div class="flex flex-col sm:flex-row items-center justify-center sm:space-x-4">
    <label class="font-bold text-white sm:mb-0 mb-2" for={"correcta" + n_respuesta}>¿Es correcta?</label>
    <input
      class="form-checkbox h-5 w-5 text-green-500 border-2 border-white rounded focus:ring-green-300"
      type="checkbox"
      id={"correcta" + n_respuesta}
      name={"correcta" + n_respuesta}
    />
  </div>
</div>
