---
import AsideHeader from './components/AsideHeader.astro'
import AsideLogo from './components/AsideLogo.astro'
import AsideItems from './components/AsideItems.astro'
---

<nav class="flex flex-col flex-1 p-2 gap-2" >
    <AsideLogo />

    <AsideHeader />

    <AsideItems />
</nav>
