---
import Layout from '@layouts/HomeLayout.astro';
import InsigniaItem from '@components/mainMenu/InsigniaItem.astro';
import InsigniaTotal from '@icons/insignias/InsigniaTotal.astro'
import Tema1 from '@icons/insignias/tema1.astro';
import Tema2 from '@icons/insignias/tema2.astro';
import Tema3 from '@icons/insignias/tema3.astro';
import premioRanking from '@icons/insignias/premioRanking.astro';

const insignias = [
    { text: 'Insignia del tema 1', description: 'Completa el tema 1.', experience: 8, experienceMax: 10, tema: Tema1 },
    { text: 'Insignia del tema 2', description: 'Completa el tema 2.', experience: 6, experienceMax: 10, tema: Tema2 },
    { text: 'Insignia del tema 3', description: 'Completa el tema 3.', experience: 1, experienceMax: 10, tema: Tema3 },
    { text: 'Insignia ganadora', description: 'Has acabado en el primer puesto del ranking al menos una vez.', experience: 1, experienceMax: 1, tema: premioRanking },
    { text: 'Insignia de proeza', description: 'Consigue todas las insignias.', experience: 0, experienceMax: 4, tema: InsigniaTotal }
];
---

<Layout title="PDOOLingo - Insignias">
    <div class="w-full flex flex-col">
        <h2 class="[width:70%] text-center m-4 mt-20 text-3xl font-bold"> Tus insignias: </h2>
        <div class="w-full flex items-center justify-center">
            <table class="[width:40%] m-4 mt-0">
                {insignias.map(insignia => (
                    <InsigniaItem
                        text={insignia.text} 
                        description={insignia.description}
                        experience={insignia.experience}
                        experienceMax={insignia.experienceMax}
                    >
                        <insignia.tema />
                    </InsigniaItem>
                ))}
            </table>
        </div>
    </div>
</Layout>