---
import Layout from '@layouts/HomeLayout.astro';
import Intro from '@components/perfil/Intro.astro';
import Perfil from '@components/perfil/Perfil.astro';
import NoUser from '@components/perfil/NoUser.astro';
import { getSesion } from '@services/login';

const usuario = await getSesion(Astro.request);
---

<Layout title="PDOOLingo - Perfil">
	<div class="flex flex-col items-center text-white min-h-screen pt-10 gap-20">
		{usuario ? <Perfil usuario={usuario} /> : <Intro/>}
		{usuario == null ? <NoUser/> : void 0}
	</div>
</Layout>