---
import Layout from '../layouts/HomeLayout.astro';
import LoginComponent from '../components/perfil/LoginComponent.astro';
import Intro from '../components/perfil/Intro.astro';
import Perfil from '../components/perfil/Perfil.astro';
import { getSession } from "auth-astro/server"
import { getUsuario } from '../services/usuario';

const session = await getSession(Astro.request);
const sessionUser = session ? session.user : null;

const { email, name, image } = sessionUser || {};

const nombre = name?.split(' ')[0];
const apellidos = name?.split(' ').slice(1).join(' ');
const usuarios = await getUsuario(nombre, apellidos);

let usuario = {
	id: "",
	nombre: "",
	apellidos: "",
	DNI: "",
	vidas: 0,
	tipo: "",
}

usuarios.length == 1 ? usuario = usuarios[0] : void 0;

---

<Layout title="PDOOLingo - Perfil">
	<div class="flex flex-col items-center text-white min-h-screen gap-6 pt-10">
		{session ? <Perfil email=`${email}` usuario={usuario} image=`${image}` /> : <Intro/>}
	</div>
</Layout>
