---
---

<div class="w-full flex flex-col items-center justify-center mt-20">
    <h2 class="text-center text-3xl font-bold bg-red-500 rounded-xl p-5">
        Debes 
        <a href="/perfil_page" class="text-blue-500 hover:underline hover:text-purple-700">iniciar sesión</a> 
        para empezar a navegar. 
    </h2>
</div>