---
import type { Usuario } from "@interfaces/Usuario";

import { getUsuariosByGrupo } from "@services/usuario";
import { usuariosOrdenadosPorXP } from "@services/ejercicios";

import UsuarioItem from "./usuarioItem.astro";
import PremioRanking from "@icons/insignias/premioRanking.astro";

import { getGrupo } from "@services/temas";

interface Props {
    idGrupo: number;
    mainUser: Usuario;
}

const { idGrupo } = Astro.props;

const usuarios = await getUsuariosByGrupo(idGrupo);
const estudiantes = usuarios?.filter(usuario => usuario.tipo === 'estudiante');

const grupo = await getGrupo(idGrupo);

const estudiantesOrdenados = await usuariosOrdenadosPorXP(estudiantes ?? []);
---

<div class="flex flex-col bg-slate-700 rounded-lg gap-10 p-4 mt-24 mx-auto w-full 2xl:w-1/3">
    <header class="flex gap-24 w-full">
        <span class="flex-none">
            <PremioRanking />
        </span>
        <h3 class="text-3xl font-bold">RANKING GRUPO { grupo?.codigo }</h3>
    </header>
    {estudiantesOrdenados && estudiantesOrdenados.map((estudiante, index) => (
        <UsuarioItem usuario={estudiante} puesto={index + 1} />
    ))}
</div>
