---
import EjercicioItem from "@components/mainMenu/EjercicioItem.astro";
import NotLogged from "@components/NoLogged.astro";
import type { Ejercicio } from "@interfaces/Ejercicio.ts";
import { getEjercicios } from "@services/ejercicios.ts";
import { getSesion } from "@services/login";

let data = await getEjercicios();
let cont = 0;

const usuario = await getSesion(Astro.request);

const ejercicios = data.data as Ejercicio[];
---

{
  usuario ? (
    <div class="w-full flex flex-col overflow-auto">
      <h2 class="text-center my-4 mt-20 text-3xl font-bold"> Ejercicios: </h2>
      <div class="w-full flex items-center justify-center">
        <table class="w-full xl:w-3/5 mt-0">
          {ejercicios && ejercicios.length > 0 ? (
            ejercicios.map((ejercicio) => (
              <EjercicioItem
                Ejercicio={ejercicio}
                numero={++cont}
                Usuario={usuario}
              />
            ))
          ) : (
            <tr>
              <td class="text-center text-xl">
                No hay ejercicios disponibles :(
              </td>
            </tr>
          )}
        </table>
      </div>
    </div>
  ) : (
    <NotLogged />
  )
}
