---
import type { Usuario } from "@interfaces/Usuario";
import type { Ejercicio } from "@interfaces/Ejercicio";

import Head from "./head.astro";
import Header from "@components/ejercicios/in/header.astro";

interface Props {
  title: string;
  ejercicio?: Ejercicio | null;
  usuario?: Usuario | null;
}

const { title, ejercicio } = Astro.props;
---

<Head title={title}>
  <body>
    <div id="ejercicio" class="flex flex-col gap-10 w-full p-5 bg-slate-800 h-screen">
      <Header ejercicio={ejercicio} />
      <div
        class="[grid-area:ejercicio] relative bg-slate-800 h-full sm:h-2/3 md:h-1/2 lg:h-3/4"
      >
        <slot />
      </div>
    </div>
  </body>
</Head>

<style>
  #ejercicio {
    display: grid;
    grid-template-areas:
      "enunciado"
      "ejercicio"
      "ejercicio"
      "ejercicio";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
  }
</style>
