---
import type { Usuario } from "@interfaces/Usuario";
import type { Ejercicio } from "@interfaces/Ejercicio";

import Head from "./head.astro";

interface Props {
  title: string;
  ejercicio?: Ejercicio;
  usuario?: Usuario | null;
}

const { title } = Astro.props;
---

<Head title={title}>
  <body>
    <div id="ejercicio" class="flex flex-col gap-10 w-full h-screen p-5 bg-slate-800">
        <slot />
    </div>
  </body>
</Head>

