---
import Layout from "@layouts/HomeLayout.astro";
import EjercicioBase from "@components/ejercicios/EjercicioBase.astro";
import { getSesion } from "@services/login";
import Formulario from "@components/ejercicios/Formulario.astro";

const usuario = await getSesion(Astro.request);
---
<Layout title="PDOOLingo">
  <div class="flex flex-col justify-center items-center">
    <EjercicioBase />
    { usuario && usuario.tipo === "admin" && <Formulario /> }
  </div>
</Layout>
